{% extends 'layout.html.twig' %}

    {% block title %}New Account
    {% endblock %}
    
    {% block content %}
    
            <div class="sm:flex sm:items-center mb-8">
    
                <div class="sm:flex-auto">
                    {% include '_elements/_back_button.html.twig' with {'to': 'Accounts', 'route': path('app_account_index')} %}
                    <h1 class="text-base font-semibold leading-6 text-gray-900">Create a new account</h1>

                    <p class="mt-2 text-sm text-gray-700">Please fill in the form below to create a new account.
                    </p>
                </div>
    
            </div>
    
            {{ include('account/_form.html.twig') }}
    
    {% endblock %}