<!DOCTYPE html>
<html class="{% block html_class %}{% endblock %}">
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>

        <!-- Favicon -->
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/site.webmanifest">

        {% block stylesheets %}
			<link rel="stylesheet" href="{{ asset('styles/app.css') }}">
			<link rel="preconnect" href="https://rsms.me/"/>
			<link rel="stylesheet" href="https://rsms.me/inter/inter.css"/>
		{% endblock %}

		{% block javascripts %}
			{% block importmap %}
				{{ importmap('app') }}
			{% endblock %}
		{% endblock %}
	</head>
	<body
		class="{% block body_class %}{% endblock %}">

		<!-- Flash messages -->
		{% for type, messages in app.flashes %}
			{% for message in messages %}
                {% include '_elements/_flash_messages.html.twig' with {
                    type: type,
                    message: message.message,
                    description: message.description ?? null,
                    list: message.list ?? null,
                    buttons: message.buttons ?? null,
                    rightlink: message.rightlink ?? null,
                    dismissable: message.dismissable ?? null
                } %}
			{% endfor %}
		{% endfor %}

		{% block body %}{% endblock %}
	</body>
</html>
