{% extends 'layout.html.twig' %}

{% block title %}New Transaction
{% endblock %}

{% block content %}

		<div class="sm:flex sm:items-center">

			<div class="sm:flex-auto">
				{% include '_elements/_back_button.html.twig' with {'to': 'Transactions', 'route': path('app_transaction_index')} %}
				<h1 class="text-base font-semibold leading-6 text-gray-900">Create a new Transaction</h1>
				<p class="mt-2 text-sm text-gray-700">Please fill in the form below to create a new transaction.
				</p>
			</div>

		</div>

        {{ include('transaction/fragments/_form_nav.html.twig') }}

		{{ include('transaction/_form.html.twig') }}

{% endblock %}
